@page
@model LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Reset Password";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
        </div>
        <h3 class="login-box-msg">User Management System</h3>
        <!--Start Card-->
        <div class="card">
            <!--Start Card body-->
            <div class="card-body login-card-body">
                <p class="login-box-msg">Reset password</p>
                <!--Start Form Reset password-->
                <form id="ResetPassword" method="post">
                    <!--Start Input Password-->
                    <div class="form-group">
                        <input class="form-control" placeholder="New password" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Confirm password" />
                        <span class="text-danger"></span>
                    </div>
                    <!--End Input Password-->
                    <!--Start Button Reset-->
                    <button type="submit" class="btn btn-block btn-primary">Reset</button>
                    <!--End Button Reset-->
                </form>
                <!--End Form Reset password-->
            </div>
            <!--End Card body-->
        </div>
        <!--End Card-->
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>